<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>mymodulename</name>
	<displayName><![CDATA[my module display name]]></displayName>
	<version><![CDATA[0.0.1]]></version>
	<description><![CDATA[module description. Max 200 characters.]]></description>
	<author><![CDATA[My Name]]></author>
	<tab><![CDATA[others]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
